.filterSearchUploadBox{
    width: 100%;
    padding-left: 3%;
    height: 120px;
    margin-top: 75px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(63, 81, 181);
 
    .searchComponents{
        display: inline-block;
        height: 35px;
        border-radius: 15px;
        outline: none;  
        width: 25%;
        border: 2px solid #5a68d1;
        font-size: 18px;
        padding-left: 5px;
    }

    .filterSearch{
        display: inline-block;
        height: 35px;
        outline: none; 
        width: 25%;
        // margin-left: 15px;
        border: 2px solid #5a68d1;
        font-size: 18px;
        padding-left: 5px;
        margin-right: 5%;

    }
}