.tabText{
    padding: 10px;
    height: 250px;
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border: none;
}

.tabContainer{
    margin-left: 5%;
    border: 2px solid rgba(0,0,0,.03);
}

.component-card-header{
    height: 50px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabContainerTitle{
    font-size: 1.2rem; 
    margin-left: 20px;
    width: calc(50% - 20px);
}

.icon-holder{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.icon-holder .fa-lg {
    margin-right: 20px;
}

.far:hover{
    transform: scale(1.25);
    cursor: pointer;
}

textarea{
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

@media only screen and (max-width: 1350px){
    .tabContainer{
        margin-left: 20%;
    }
  
  }