<div *ngIf="userIsAuthenticated" class="fileUpload" id="fileUpload" (click)='setTitleAndDescription()'>
    <h2 class="fileUploadText" >Upload a new angular component <i class="far fa-file-alt"></i></h2>
</div> 
<div *ngIf="!userIsAuthenticated" class="fileUpload" id="loginProxyBtn" (click)='signInOrUp()'>
    <h2 class="fileUploadText" >Signin to add components <i class="fas fa-sign-in-alt"></i></h2>
</div> 

<div class="titleAndDescription" id="addNewComponentInfo">
  <div class="addNewContainer"> 
      <label for="title" class="addNewLabel">Title: </label>
      <input #title type="text" name="title" placeholder="Enter a title for your component">
      <br>

      <label for="gitRepo" class="addNewLabel">Github repo URL (add a repo where this component is used so users have a live preview): </label>
      <input #gitRepo type="text" name="title" placeholder="Enter a github repo url">
      <br>
    
      <label for="description" class="descriptionLabel addNewLabel" >Description: </label>
      <textarea #description name="description" id="componentDescription" cols="30" rows="10" placeholder="Let people know what your component does and how it works with a shot description"></textarea>

      <div class="uploadedFiles" *ngIf="uploadedFiles">
          <p>Uploaded files: </p>
          <p *ngFor="let file of uploadedFiles">{{file}}</p>
      </div>
    
      <div class="addNewButtonsHolder">
          <button class="addNewBtn" (click)="fileInput.click()">UPLOAD FILES</button>
          <input #fileInput type="file" name="fileInput" id="fileInput" class="fileInput" multiple (change)='uploadFile($event)'>
    
          <button class="addNewBtn" (click)="submitNewComponent(title, description, gitRepo)">SUBMIT</button>
      </div>

      

  </div>
  
  
</div>