<div class="titleHolder">
    <h1 class="pageTitle">{{pageTitle}}</h1>
</div> 

<div class="filterSearchUploadBox">

    <app-upload-new-component></app-upload-new-component>

    <input class="searchComponents" type="text" placeholder="provide keywords and find relevant components">

    <label class="filterLabel" for="filter">Filter by:</label>
    <select class="filterSearch" name="filter">
        <option value="recentlyUploaded">Recently uploaded</option>
        <option value="mostDownloads">Most downloaded</option>
    </select>
</div>
 
<div class="componentsHolder" >
  <div class="componentHolder" *ngFor="let component of components">
      <app-single-component [title]='component.title' [names]='component.names' [code]='component.code' ></app-single-component>
  </div>
   
</div>


