.titleHolder{
    width: 100%;
    display: flex;
    justify-content: center;

    .pageTitle{
        font-size: 1.5rem;

    }
}

.filterSearchUploadBox{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .fileUpload{
        display: inline-block;
        min-width: 420px;
        width: 27%;
        margin: 25px 3%;
        background: rgb(76, 96, 175);
        border-radius: 15px;
        height: 40px;
        text-align: center;
        color: white;
        cursor: pointer;
    
        .fileUploadText{
            text-transform: uppercase;
            font-size: 18px;
            padding-top: 11px;
    
            .fa-file-alt{
                margin-left: 10px;
            }
    
        }
        .fileInput{
            visibility: hidden;
        }
    }
    .fileUpload:hover{
        transform: scale(1.05);
        color: rgb(76, 96, 175);
        border: 2px solid rgb(76, 96, 175);
        background: white;
    }

    .searchComponents{
        display: inline-block;
        height: 35px;
        border-radius: 15px;
        outline: none; 
        width: 30%;
        margin: 0 2%;
        border: 2px solid #5a68d1;
        font-size: 18px;
        padding-left: 5px;
    }

    .filterLabel{
        margin-left: 3%;
    }
    .filterSearch{
        display: inline-block;
        height: 35px;
        outline: none; 
        width: 20%;
        margin-left: 15px;
        border: 2px solid #5a68d1;
        font-size: 18px;
        padding-left: 5px;

    }
}

.componentsHolder{
    width: 80%;
    margin-left: 10%;

    .componentHolder{
        margin-bottom: 30px;
    }
}

