.titleHolder{
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    justify-content: center;

    .pageTitle{
        font-size: 1.5rem;

    }
}

.componentsHolder{
    width: 98%;
    margin: 1%;
    position: relative;

    .componentContainer{
        display: inline-block;
        width: 80%;
        margin-left: 18.5%;
    }

    .sideMenu{
        position: fixed;
        width: 20%;
        height: calc(98vh - 320px);
        border: 1px solid black;
        display: inline-block;
        bottom: 120px;
    }

    .componentHolder{
        margin-bottom: 30px;  
    }
}

.noComponentsHolder{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: bold;
    border: 1px solid #5a68d1;
    background: #5a68d150;
    margin: 15px;
    margin-left: 30%;
}
